.blog-big {
    width: 100%;
    height: 1000px;
    background-color: antiquewhite;
    display: flex;
}
.containerblog-left {
    width: 77%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.blog-left-1 {
    margin: 0 auto;
    width: 30.1%;
    height: 300px;
    background-color: goldenrod;
}
.blog-left-1 img{
    display: block;
}
.blog-left-1 img:hover{
    -webkit-transform: scale(1.2); transform: scale(1.2);
}
.blog-left-1 > a {
    text-decoration: none;
    color: black;
}
.blog-left-1 > #null:hover{
    color: blueviolet;
}
.blog-left-1 > .null {
    transition: 0.7s;
    color: black;
}

.ml {
    margin-left: 20px;
}
.mr {
    margin-right: 20px;
}
.box2-left > ul > a{
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    height: 2.25em;
    line-height: 2em;
    text-align: center;
    width: auto;
    min-width: 2.25em;
    padding: 0 7px;
    font-weight: bolder;
    border-radius: 99px;
    border: 2px solid currentColor;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    list-style-type: none;
}
.box2-left > ul > a:hover {
    color: white;
    background-color: black;
}
.box2-left {
    text-align: center;
    width: 77%;
    height: 60px;
    padding: 20px;
}



