.containerSP1 {
    width: 100%;
    height: 60px;
}

.right{
    float:right;
    margin-top: 5px;
    margin-right: 40px;
}
.right>li {
    float:left;
    padding:20px;
}
.left {
    margin-left: 70px;
    float:left;
}
.left > li > a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.left > li > a:hover{
    color: red;
}
ul {
    list-style-type: none !important;
}
.menuSP>a {
    text-decoration: none;
    color: black;
    margin-left: 70px;
    font-size: 20px;
}